<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="htp://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.9.1/math.js"></script>
<script src="controllers/controller.js">
</script>

</head>
<body>
<div ng-app="mathApp" ng-controller="mathCtrl">
        <table>
        <tr>
            <th>enter a</th><th>enter b</th>
        </tr>
        <tr ng-repeat="number in numbers">
            <td><input type="text" ng-model="number"></td>
            <td><input type="text" ng-model="number"></td>
            <!--<td><input type="button" ng-click="Number($index)" value= "Delete"></td>-->
        </tr>
        </table>
        <input type="button" ng-click="AddNumbers()" value="AddNumbers">
        <p>
        The algebraic expression is:{{result)}}</p>
    </div>


</body>
</html>